extends layout

block content
	#Project
		#ProjectView.project-view
			.header
				| Play
			.container
				#RiffViewOpen.ichTemplate
					.riff-view-open(id="{{name}}",onclick="openRiff(event);")
						.preview
						.title {{name}}
						.edit
		#RiffView.riff-view
			.header
				.back
				.title Project
			.container
				#RiffModule.ichTemplate
					.riff-module(id="{{name}}",onclick="editRiff(event);")
						.preview
						.edit