extends layout

block content
	#Button.ichTemplate
		.button(onclick="{{onclick}}")
			div(class="{{sprite}}")
	#Project
		#ProjectView.project-view
			.header
				| Play
			.toolbar
				.new-riff.button(onclick="evt.newRiff();")
					.plus_png
			.container
				#RiffViewOpen.ichTemplate
					.riff-view-open(id="{{id}}")
						div(style="height:40px")
							.preview.button(onclick="evt.playRiff('{{id}}');")
								.play_png
							.title {{id}}
							.edit.button(onclick="evt.openRiff('{{id}}');")
								.inscribe_png
							.settings.button(onclick="$(this.parentNode.parentNode).toggleClass('setting')")
								.settings_png
						.settings-view
							.button.checkbox(onclick="$(this).toggleClass('checked')")
								.loop_png
							span Length(s)
							input.length(type="number",value="3",min=".10",max="20.00",step="0.01")
							span Hz
							input.hz(type="number",value="100",min="1",max="1000",step="1")
							span Sample Rate
							input.rate(type="number",value="11000",min="4000",max="88000",step="100")
		#RiffView.riff-view
			.header
				.back.button(onclick="evt.closeRiff();")
					.exit_png
				.title Project
			.container
				#RiffModule.ichTemplate
					.riff-module(id="{{id}}").no-select
						//-.title {{id}}
						.settings.buttons
						.preview
							canvas
						.edit.buttons
							.button(onclick="evt.editModule('{{id}}');")
								.inscribe_png
							.tools


block scripts
	script(src='js/lib/ICanHaz.min.js')
	script(src='js/lib/paper-full.min.js')
	script(src='js/lib/riffwave.min.js')
	script(src='js/script.js')