extends layout

block content
	#Project
		#ProjectView.project-view
			.header
				| Play
			.toolbar
				.new-riff(onclick="evt.newRiff();") NEW
			.container
				#RiffViewOpen.ichTemplate
					.riff-view-open(id="{{riffName}}")
						.preview
						.title {{riffName}}
						.edit(onclick="evt.openRiff('{{riffName}}');")
		#RiffView.riff-view
			.header
				.back(onclick="evt.closeRiff();")
				.title Project
			.container
				#RiffModule.ichTemplate
					.riff-module(id="{{moduleName}}")
						.title {{moduleName}}
						.preview
							canvas
						.edit(onclick="evt.editModule('{{moduleName}}');")

block scripts
	script(src='js/lib/ICanHaz.min.js')
	script(src='js/lib/paper-full.min.js')
	script(src='js/script.js')