extends layout

block content
	#ProjectView.project-view
		.header
			| Play
		.container
			#RiffModule.ichTemplate
				.riff-module(id="{{name}}")
					.preview
					.title {{name}}
					.edit
	#RiffView.riff-view
		.header
			.back
			.title Project
		.container
			#LayerModule.ichTemplate
				.layer-module.waveform(id="{{name}}")
					.preview
					.edit