extends layout

block content
	#Project
		#ProjectView.project-view
			.header
				| Play
			.toolbar
				.new-riff.button.plus_png(onclick="evt.newRiff();")
			.container
				#RiffViewOpen.ichTemplate
					.riff-view-open(id="{{riffName}}")
						.preview.button.play_png(onclick="evt.playRiff('{{riffName}}');")
						.title {{riffName}}
						.edit.button.inscribe_png(onclick="evt.openRiff('{{riffName}}');")
		#RiffView.riff-view
			.header
				.back(onclick="evt.closeRiff();")
				.title Project
			.container
				#RiffModule.ichTemplate
					.riff-module(id="{{moduleName}}")
						//-.title {{moduleName}}
						.buttons
						.preview
							canvas
						.edit.button.inscribe_png(onclick="evt.editModule('{{moduleName}}');")

block scripts
	script(src='js/lib/ICanHaz.min.js')
	script(src='js/lib/paper-full.min.js')
	script(src='js/lib/riffwave.min.js')
	script(src='js/script.js')