extends layout

block content
	#Button.ichTemplate
		.button(onclick="{{onclick}}")
			div(class="{{sprite}}")
	#Project
		#ProjectView.project-view
			.header
				| Play
			.toolbar
				.new-riff.button(onclick="evt.newRiff();")
					.plus_png
			.container
				#RiffViewOpen.ichTemplate
					.riff-view-open(id="{{riffName}}")
						.preview.button(onclick="evt.playRiff('{{riffName}}');")
							.play_png
						.title {{riffName}}
						.edit.button(onclick="evt.openRiff('{{riffName}}');")
							.inscribe_png
		#RiffView.riff-view
			.header
				.back(onclick="evt.closeRiff();")
				.title Project
			.container
				#RiffModule.ichTemplate
					.riff-module(id="{{moduleName}}").no-select
						//-.title {{moduleName}}
						.settings.buttons
						.preview
							canvas
						.edit.buttons
							.button(onclick="evt.editModule('{{moduleName}}');")
								.inscribe_png
							.tools


block scripts
	script(src='js/lib/ICanHaz.min.js')
	script(src='js/lib/paper-full.min.js')
	script(src='js/lib/riffwave.min.js')
	script(src='js/script.js')